body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;        
}

/*Componentes principales*/
.form-container {
    background: #ffffff;
    width: 60vw;
    max-width: 950px;
    min-height: min-content;
    padding: 36px 27px 27px 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 2vw;
    border-radius: 10px;
    border-width: 4px;
    box-shadow: 0px 0px 10px black;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2vw;
}

.column {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
}

/*Componentes independientes*/
label {
    display: flex;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    margin-bottom: 8px;
}

input {
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.area-texto{
    min-height: 50px;
    max-height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    overflow-y: auto;
}

.centrar-unidad{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.selector_custom {
    padding: 6px;
    font-size: 14px;
    color: #696969;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-container input {
    margin-right: 5px;
    accent-color: #179678;
}

.checkbox-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

button {
    width: 40%;
    background-color: #1aab8a;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

/*Componentes independientes - hover*/
input:hover {
    border-color: #1aab8a;
}

.selector_custom:hover {
    border: 2px solid #1aab8a;
}

.area-texto:hover{
    border: 2px solid #1aab8a;
}

.button:hover {
    background-color: #179678;
}

/*Componentes independientes - focus*/
input:focus {
    border-color: #137961;
    outline: none;
}

.selector_custom:focus {
    border-color: #137961;
    outline: none;
}

.area-texto:focus{
    border-color: #137961;
    outline: none;
}

/* Estilos para tablet */
@media (min-width: 501px) and (max-width: 1023px) {
    .form-container {
        width: 70vw;
        padding: 40px 30px;
        gap: 2.5vw;
        padding: 30px 27px 25px 27px;
    }
}

/* Estilos para celular */
@media (max-width: 500px) {
    .form-container {
        width: 78vw;
        padding: 20px 15px;
        gap: 5vw;
        border-radius: 8px;
        padding: 10px 25px 20px 25px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 5vw;
    }

    .checkbox-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}